#reservation {
    
    width: 29%;
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 20px;
    border: 5px solid black;
    cursor: pointer;
}

.bouton {
    display: flex;
    justify-content: center;
    border: 2px solid #030303;
    width:51%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 3px;
}

#options {
   
    width: 27%;
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 20px;
    border: 5px solid black;
    cursor: pointer;
}

#coordonnees {

    width: 18%;
    margin-left: 40%;
    margin-top: 15%;
    border-radius: 20px;
    border: 5px solid black;
    height:260px;
    line-height: 30px;
    cursor: pointer;
}
