#logo{
    width: 15%;
}

#enTete{
    background-image:url('../images/fond.png');
}

.flexLigne{
    display: flex;
}

.invisible{
    display: none;
}

.visible{
    display: block;
    display: flex;
    gap: 12px;
    margin: 15px;
    text-align: center;
}
#header a {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
    color: white;
  }

  .tableau-utilisateurs {
    text-align: center;
}

.tableau-utilisateurs td{
padding: 12px;
border: 2px solid lightgrey;}

.tableau-utilisateurs h2{
    border: 8px solid lightgrey;
}

  #recapResaDiv{
    flex-direction: column;
    border: 2px solid green;
    display: flex;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    z-index: 2;
    width: 50%;
    background-color: beige;
  }

  body{
    background-color: #fae5bf;
}

#coordonnees label{
    display: block;
}

h1{
 animation-name: grand;
 animation-duration: 3s;
 font-size: 4em; 
 color: #914343;  
}

@keyframes grand {
    0%{
        font-size: 1em;
    }
    100%{
        font-size: 4em;
    }
}
